@import "../shared/scss-var/mixins";
@import "../shared/scss-var/colors";

app-spinner {
  margin-top: 40%;
}

.chart-header {
  @include textRaleway(800, 16px);
  height: 48px;
  line-height: 48px;
  box-sizing: border-box;
  border-bottom: 1px solid $WhiteDotThree;
  margin: 0 10px;
}

.chart-bookmark-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 36px;
  margin: 0 10px;
  box-sizing: border-box;
  border-bottom: 1px solid $WhiteDotThree;

  .chart-bookmark {
    cursor: pointer;

    h6 {
      @include textLato(300, 14px);
      margin: 0;
      width: 100%;
      text-align: center;
      color: $fontWhiteHighContrast;
      text-transform: uppercase;
      padding-top: 10px;
    }
  }

  .chart-bookmark:hover {
    background: $BlackDotOne;
  }

  .chart-bookmark-selected {
    border-bottom: 2px solid $fontWhiteHighContrast;

    h6 {
      font-weight: 700;
    }
  }

}


/* chart container */

.chart-container {
  margin: 12px 10px;

  .grid-container-nav {
    display: grid;
    grid-template-columns: 1fr 12px 1fr;
    z-index: 100;
    position: relative;

    .chart-tpdata-container {
      height: 192px;
      border-radius: 4px;
      background: $mainGreenDarkL;

      .tpdata-title {
        @include textRaleway(400, 16px);
        height: 48px;
        border-bottom: 1px solid $WhiteDotThree;
        text-transform: uppercase;
        color: $fontWhiteLowContrast;
        padding: 0 16px;
        line-height: 48px;
        box-sizing: border-box;
      }

      .tpdata-btns {
        box-sizing: border-box;
        overflow: hidden;
        height: 128px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        padding: 0 8px;
        z-index: 100;
        background: $mainGreenDarkL;

        .tpdata-btn {
          @include textRaleway(400, 16px);
          display: inline-block;
          color: $fontWhiteLowContrast;
          padding: 0 8px;
          margin: 6px 0;
          border-right: 1px solid $fontWhiteLowContrast;
          cursor: pointer;
          height: 20px;
        }

        .tpdata-btn-selected {
          color: $fontWhiteHighContrast;
          font-weight: 800;
        }
      }

      .tpdata-btns:hover {
        min-height: 128px;
        height: auto;
        z-index: 100;
        background: mainGreenDarkL;
        border-radius: 4px;
        padding-bottom: 16px;
      }

      .margin-bottom {
        height: 16px;
      }

    }
  }

  .chart-navigator {
    display: grid;
    grid-template-columns: 36px 36px 36px 1fr auto auto auto 1fr 36px 36px 36px;
    align-items: center;
    height: 56px;
    border-radius: 4px;
    background: $mainGreenDarkB;
    margin-top: 12px;
    padding: 0 8px;
    position: relative;

    .chart-nav-btn {
      text-align: center;
      min-width: 36px;
      width: 36px;
      height: 36px;
      padding: 0;

      svg {
        padding-bottom: 2px;
      }
    }

    .chart-text {
      @include textRaleway(400, 16px);
      text-align: center;
      min-width: 0px;
      padding: 0 16px;
      text-transform: uppercase;
      color: $fontWhiteLowContrast;
    }

    .chart-text-selected {
      font-weight: 800;
      color: $fontWhiteHighContrast;
    }
  }

  .grid-chat {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin: 12px 0;
    position: relative;

    .border {
      padding: 6px;
      border-radius: 4px;
      background: $BlackDotTwo;
    }
  }
}
