<app-spinner *ngIf="loading" ></app-spinner>
<div *ngIf="!loading">
  <h5 class="chart-header">{{trainingPlan.training_plan_name}}</h5>
<div class="chart-bookmark-container">
  <div [ngClass]="{'chart-bookmark-selected': bookmark==='chart'}" (click)="changeBookmark('chart')"
    class="chart-bookmark">
    <h6>Chart</h6>
  </div>
  <div [ngClass]="{'chart-bookmark-selected': bookmark==='table'}" (click)="changeBookmark('table')"
    class="chart-bookmark">
    <h6>Table</h6>
  </div>
</div>

<div *ngIf="bookmark==='chart'" class="chart-container">

  <div class="grid-container-nav">

    <div class="chart-tpdata-container">
      <div class="tpdata-title">
        Data from training plan
      </div>
      <div class="tpdata-btns">
        <div class="tpdata-btn" *ngFor="let btn of summary, let i = index"
          (click)="addNewChart(btn.tag, btn.name, i, btn.id)" [ngClass]="{'tpdata-btn-selected': btn.selected}">
          {{btn.name}}
        </div>
      </div>
      <div class="margin-bottom"></div>
    </div>

    <div></div>

    <div class="chart-tpdata-container">
      <div class="tpdata-title">
        Data from questions
      </div>
      <div class="tpdata-btns">
        <div class="tpdata-btn" *ngFor="let btn of answersArray, let i = index"
          [ngClass]="{'tpdata-btn-selected': btn.selected}">
          {{btn.question}}
        </div>
      </div>
    </div>

  </div>

  <div class="chart-navigator">
    <button mat-button class="chart-nav-btn" (click)="nextTimeStamp(-1)">
      <svg width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M6.96695 12.9988L8.37695 11.5888L3.79695 6.99878L8.37695 2.40878L6.96695 0.998779L0.966953 6.99878L6.96695 12.9988Z"
          fill="white" fill-opacity="0.67" />
      </svg>
    </button>
    <button mat-button class="chart-nav-btn" (click)="nextTimeStamp(-7)">
      <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M6.26188 12.9988L7.67188 11.5888L3.09188 6.99878L7.67188 2.40878L6.26188 0.998779L0.261875 6.99878L6.26188 12.9988Z"
          fill="white" fill-opacity="0.67" />
        <path
          d="M13.672 12.9988L15.082 11.5888L10.502 6.99878L15.082 2.40878L13.672 0.998779L7.67203 6.99878L13.672 12.9988Z"
          fill="white" fill-opacity="0.67" />
      </svg>
    </button>
    <button mat-button class="chart-nav-btn" (click)="nextTimeStamp(-30)">
      <svg width="23" height="13" viewBox="0 0 23 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M6.5568 12.9988L7.9668 11.5888L3.3868 6.99878L7.9668 2.40878L6.5568 0.998779L0.556797 6.99878L6.5568 12.9988Z"
          fill="white" fill-opacity="0.67" />
        <path
          d="M13.967 12.9988L15.377 11.5888L10.797 6.99878L15.377 2.40878L13.967 0.998779L7.96695 6.99878L13.967 12.9988Z"
          fill="white" fill-opacity="0.67" />
        <path
          d="M21.3771 12.9988L22.7871 11.5888L18.2071 6.99878L22.7871 2.40878L21.3771 0.998779L15.3771 6.99878L21.3771 12.9988Z"
          fill="white" fill-opacity="0.67" />
      </svg>
    </button>
    <div class="chart-divider"></div>
    <button mat-button class="chart-text" [ngClass]="{'chart-text-selected': zoom==='week'}" (click)="setZoom(0,6)">Week</button>
    <button mat-button class="chart-text" [ngClass]="{'chart-text-selected': zoom==='month'}" (click)="setZoom(0,30)">Month</button>
    <button mat-button class="chart-text" (click)="resetZoom()">Reset</button>
    <div class="chart-divider"></div>
    <button mat-button class="chart-nav-btn" (click)="nextTimeStamp(30)">
      <svg width="23" height="13" viewBox="0 0 23 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M16.7904 0.998779L15.3804 2.40878L19.9604 6.99878L15.3804 11.5888L16.7904 12.9988L22.7904 6.99878L16.7904 0.998779Z"
          fill="white" fill-opacity="0.67" />
        <path
          d="M9.38021 0.998779L7.97021 2.40878L12.5502 6.99878L7.97021 11.5888L9.38021 12.9988L15.3802 6.99878L9.38021 0.998779Z"
          fill="white" fill-opacity="0.67" />
        <path
          d="M1.97006 0.998779L0.560059 2.40878L5.14006 6.99878L0.560059 11.5888L1.97006 12.9988L7.97006 6.99878L1.97006 0.998779Z"
          fill="white" fill-opacity="0.67" />
      </svg>
    </button>
    <button mat-button class="chart-nav-btn" (click)="nextTimeStamp(7)">
      <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M9.08529 0.998779L7.67529 2.40878L12.2553 6.99878L7.67529 11.5888L9.08529 12.9988L15.0853 6.99878L9.08529 0.998779Z"
          fill="white" fill-opacity="0.67" />
        <path
          d="M1.67514 0.998779L0.265137 2.40878L4.84514 6.99878L0.265137 11.5888L1.67514 12.9988L7.67514 6.99878L1.67514 0.998779Z"
          fill="white" fill-opacity="0.67" />
      </svg>

    </button>
    <button mat-button class="chart-nav-btn" (click)="nextTimeStamp(1)">
      <svg width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M2.38021 0.998779L0.970215 2.40878L5.55021 6.99878L0.970215 11.5888L2.38021 12.9988L8.38021 6.99878L2.38021 0.998779Z"
          fill="white" fill-opacity="0.67" />
      </svg>
    </button>
  </div>

  <div class="grid-chat">
    <div></div>
    <div class="border">
      <div id="container"></div>
    </div>
    <div></div>
  </div>

</div>

<div *ngIf="bookmark==='table'" class="table-container">
  TABLE
</div>
</div>