@import "../../shared/scss-var/colors";
@import "../../shared/scss-var/mixins";

.fixheight {
  height: 100%;
  display: flex;
  flex-direction: column;

  h5 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 48px;
    margin-bottom: 48px;
  }

  p {
    @include textRaleway(400, 16px);
    color: $fontWhiteLowContrast;
    padding: 0 10%;
  }

  .navigation-client {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .step-control {
      @include textLato(400, 16px);
      text-align: center;
      color: $WhiteDotFour;
      border-bottom: 2px solid $WhiteDotFour;
      padding-bottom: 8px;
      cursor: pointer;
    }

    .active {
      color: $fontWhiteLowContrast;
      border-bottom: 2px solid $brightGreen;
    }
  }

  .navigation {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

    .active {
      color: $fontWhiteLowContrast;
      border-bottom: 2px solid $brightGreen;
    }
  }

  .mat-content {
    overflow: auto;

    .tutorial-container {
      display: block;
      overflow: hidden;
      box-sizing: border-box;
      height: 100%;
      padding: 0;
      margin: 0;

      .welcome-panel {
        text-align: center;

        .faces {
          margin-top: 24px;
        }

        .buttons-welcome {
          display: grid;
          grid-template-columns: 1fr;
          justify-items: center;
          margin: 48px 0 0 0;

          button {
            @include textRaleway(800, 14px);
            min-width: 180px;
            background-color: $WhiteDotOne;
            color: $fontWhiteLowContrast;
            text-transform: uppercase;
            margin-bottom: 16px;
          }
        }

      }

      .parrent-client {
        height: 100%;
        width: 300%;
        display: flex;

        .step-container {
          width: 100%;
          height: 100%;
          flex: 1;
          text-align: center;

          .img-handset {
            margin-top: 24px;
          }

          .resize-vert {
            height: 100px;
          }
        }
      }

      .parrent {
        height: 100%;
        width: 500%;
        display: flex;

        .step-container {
          width: 100%;
          height: 100%;
          flex: 1;
          text-align: center;

          .img-handset {
            margin-top: 24px;
          }

          .resize-vert {
            height: 100px;
          }

          .buttons-welcome {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            margin: 48px 0 0 0;

            button {
              @include textRaleway(800, 14px);
              min-width: 180px;
              background-color: $WhiteDotOne;
              color: $fontWhiteLowContrast;
              text-transform: uppercase;
              margin-bottom: 16px;
            }
          }
        }
      }
    }
  }

  .filler {
    flex-grow: 1;
  }

  .dots-progres {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 16px 16px 16px 16px 16px 1fr;
    justify-items: center;
    align-items: center;

    .filler {
      flex-grow: 1;
    }

    .dot {
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background-color: $WhiteDotThree;
    }

    .resize {
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: $fontWhiteLowContrast;
    }
  }


  .buttons {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: end;
    margin: 0;
    padding: 0;
    height: 48px;

    .btns {
      button {
        @include textRaleway(800, 14px);
        color: $fontWhiteBright;
        text-transform: uppercase;
      }
    }
  }

}


@media (max-width: 899px) {
  p {
    font-size: 14px;
    padding: 0;
  }

  h5 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .buttons-welcome {
    margin: 16px 0 0 0;
  }
}

@media (max-width: 329px) {
  p {
    font-size: 12px;
    padding: 0;
    margin: 6px 0;
  }

  h5 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .buttons-welcome {
    margin: 16px 0 0 0;
  }

  .buttons {
    .btns {
      button {
        font-size: 14px;
        padding: 0 8px;
      }
    }
  }

  .faces {
    height: 60px;
  }


}

@media (max-height: 660px) {
  .client-card-img {
    height: 124px;
  }

  .tiles-img {
    height: 124px;
  }
}

@media (max-height: 640px) {
  .faces {
    height: 72px;
    margin-top: 12px;
  }

  .tiles-img {
    height: 96px;
  }

  .client-card-img {
    height: 112px;
  }
}

@media (max-height: 600px) {
  h5 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
    padding: 0;
    margin: 6px 0;
  }

  .tiles-img {
    height: 70px;
  }

  .faces {
    height: 72px;
  }
}

@media (max-height: 520px) {
  h5 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
    padding: 0;
    margin: 6px 0;
  }

  .tiles-img {
    height: 70px;
  }

  .faces {
    height: 48px;
    margin-top: 6px;
  }

  .client-card-img {
    height: 84px;
    margin-top: 12px;
  }

  .buttons-welcome {
    margin-top: 6px;
  }

  .buttons-welcome {
    button {
      margin-bottom: 12px;
    }
  }

  .congratulation-img {
    height: 64px;
    margin-top: 6px;
  }
}
