@import "../../shared/scss-var/colors";
@import "../../shared/scss-var/mixins";

.tp-name {
  display: grid;
  grid-template-columns: 48px 1fr 48px;
  margin: 0 10px;

  h4 {
    margin: 0px;
    height: 48px;
    line-height: 48px;
  }

  button {
    min-width: 0px;
    padding: 0px;
    margin: 0;
  }

  .center-container {
    width: 48px;
    height: 48px;

    .menu-right-icon {
      padding: 12px;
      color: $fontWhiteHighContrast;
    }
  }
}

.divider-line {
  border-bottom: 1px solid $WhiteDotTwo;
  margin: 0 10px;
}

.link-to-plan {
  color: $brightYellow;
  cursor: pointer;
}

.card-bookmarks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 36px;
  margin: 0 10px;
  box-sizing: border-box;
  border-bottom: 1px solid $WhiteDotTwo;

  .card-bookmark {
    @include textLato(300, 14px);
    margin: 0;
    width: 100%;
    text-align: center;
    color: $fontWhiteHighContrast;
    text-transform: uppercase;
    padding-top: 10px;
    cursor: pointer;
  }

  .card-bookmark:hover {
    background: $BlackDotOne;
  }

  .card-bookmark-selected {
    border-bottom: 2px solid $fontWhiteHighContrast;
    font-weight: 700;
  }
}

.separator {
  height: 8px;
  width: 100%;
}
