/*-----FONT COLORS------*/

$fontBlackHighContrast: rgba(0, 0, 0, 0.87);
$fontBlackMediumContrast: rgba(0, 0, 0, 0.67);
$fontBlackLowContrast: rgba(0, 0, 0, 0.57);

$fontWhiteHighContrast: rgba(255, 255, 255, 0.87);
$fontWhiteMediumContrast: rgba(255, 255, 255, 0.77);
$fontWhiteLowContrast: rgba(255, 255, 255, 0.67);
$fontWhiteBright: rgba(255, 255, 255, 0.45);

/*-----Kolory Elementów------*/

$WhiteDotFour: rgba(255, 255, 255, 0.37);
$WhiteDotThree: rgba(255, 255, 255, 0.27);
$WhiteDotTwo: rgba(255, 255, 255, 0.17);
$WhiteDotOne: rgba(255, 255, 255, 0.07);

$BlackDotTwo: rgba(0, 0, 0, 0.17);
$BlackDotOne: rgba(0, 0, 0, 0.07);

$BlackBg: rgba(255, 255, 255, 0.05);
$BlackBgLight: rgba(255, 255, 255, 0.03);

$brightYellow: #E8A022;
$lighterBrightYellow: #EBB72B;

$brightRed: #FF5D51;
$darherBrightRed: #F64535;

$brightGreen: #88C540;
$darkerBrightGreen: #63A12E;

$brightBlue: #31C2E1;
$darkerBrightBlue: #259CB2;

$brightViolet: #614EA1;
$darkerBrightViolet: #4E4091;

$ErrorYellow: #B0AA54;

$greenInput: #608490 30%;

$mainGreen: #345763;
$mainGreenDarkL: #223940;
$mainGreenDark: #052E39;
$mainGreenDarkB: #27414A;
$mainGreenLight: #608490;
$mainGreenLightBright: #8FB4C0;

$ScrollGreenBright: rgba(5, 46, 57, 0.1);
$ScrollGreen: rgba(5, 46, 57, 0.6);
$ScrollGreenDark: rgba(5, 46, 57, 0.9);