$lightGray: #F1F1F1;
$black: #1F1F1F;
$white: rgba(255, 255, 255, 0.87);
$mainGreen: #345763;
$mainGreenLight: #608490;
$brightGreen: #88C540;
$brightYellow: #E8A022;

/*-----FONT COLORS------*/

$fontBlackHighContrast: rgba(0, 0, 0, 0.87);
$fontBlackMediumContrast: rgba(0, 0, 0, 0.69);
$fontBlackLowContrast: rgba(0, 0, 0, 0.51);

$fontWhiteHighContrast: rgba(255, 255, 255, 0.87);
$fontWhiteMediumContrast: rgba(255, 255, 255, 0.77);
$fontWhiteLowContrast: rgba(255, 255, 255, 0.66);