@mixin textLato($font_weight, $font_size) {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: $font_weight;
  font-size: $font_size;
}

@mixin textRaleway($font_weight, $font_size) {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: $font_weight;
  font-size: $font_size;
}

@mixin boxShadow() {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12), 0px 0px 4px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12), 0px 0px 4px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12), 0px 0px 4px rgba(0, 0, 0, 0.24);
}

@mixin boxShadowDark() {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.48);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.48);
}

@mixin boxShadowPreview() {
  -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  -moz-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

@mixin boxShadowEditor() {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.45);
}

@mixin boxShadowTooltip() {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}

@mixin boxShadowScroll() {
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  -moz-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

@mixin inputAutofill() {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.87);
  -webkit-box-shadow: 0 0 0 100px #32545f inset;
  box-shadow: 0 0 0 100px #32545f inset;
}

@mixin inputAutofillLight() {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.87);
  -webkit-box-shadow: 0 0 0 100px #3d606c inset;
  box-shadow: 0 0 0 100px #3d606c inset;
}

// @include textLato(400, 14px);
// @include textRaleway(400, 14px);
// @include boxShadow();
// @include boxShadowDark();
// @include boxShadowPreview();
// @include boxShadowEditor();
// @include boxShadowTooltip();
// @include inputAutofill();
// @include inputAutofillLight();
// @include boxShadowScroll();
// @import "../../shared/scss-var/colors";
// @import "../../shared/scss-var/mixins";
