@import "../../shared/scss-var/colors";

p {
  margin: 0;
  margin-bottom: 16px;
  color: $brightRed;
}

.grid-to-right {
  display: grid;
  grid-template-columns: 1fr auto auto;

  .enabled {
    background-color: $mainGreenLight;
    color: $fontWhiteHighContrast;
  }
}
