@import "../shared/scss-var/colors";
@import "../shared/scss-var/mixins";

#new-tp-editor {

  p {
    margin: 0;
    margin-bottom: 16px;
    color: $brightRed;
  }

  .card-answer {
    background-color: $BlackBg;
    padding: 16px 8px 8px;
    border-radius: 4px;
    @include boxShadowDark();
    margin-bottom: 16px;
  }

  .grid-to-right {
    display: grid;
    grid-template-columns: 1fr auto auto;

    .enabled {
      background-color: $mainGreenLight;
      color: $fontWhiteHighContrast;
    }
  }
}
