#new-tp-editor {

  p {
    margin: 0;
    margin-bottom: 16px;
    color: #FF5D51;
  }

  .card-answer {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 16px 8px 8px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.48);
    margin-bottom: 16px;
  }

  .grid-to-right {
    display: grid;
    grid-template-columns: 1fr auto auto;

    .enabled {
      background-color: #608490;
      color: rgba(255, 255, 255, 0.87)
    }
  }
}
