<div class="chat-container" *ngIf="!isHandset">
  <div class="chat-nav">
    <div class="chat-nav-header">
      <h5>Imię rozmówcy</h5>
      <p>01.01.20 17:35</p>
    </div>
    <div class="filler"></div>
    <div class="chat-nav-btn-container">
      <button mat-button  (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
  </div>
  <div class="chat-body" >
    <div class="chat-contacts">
      <button mat-button *ngIf="!contacsOpen"  [ngClass]="{'rotate':contacsOpen, 'rotateReverse':!contacsOpen}" (click)="showContacts()" matTooltip="show contacts" matTooltipClass="comment-tooltip"><mat-icon>keyboard_arrow_left</mat-icon></button>
      <button mat-button *ngIf="contacsOpen"  [ngClass]="{'rotate':contacsOpen, 'rotateReverse':!contacsOpen}" (click)="showContacts()" matTooltip="hide contacts" matTooltipClass="comment-tooltip"><mat-icon>keyboard_arrow_left</mat-icon></button>
      <div class="chat-contacts-container"  *ngIf="contacsOpen" >
        <div *ngFor="let contact of contacts"  class="chat-contact" matTooltip="{{contact.contact_name}}, {{contact.contact_status}}" matTooltipClass="comment-tooltip">
          <img [src]="contact.contact_avatar" alt="contact image">
          <p>{{contact.contact_name | shorten:8}}</p>
        </div>
      </div>
    </div>
    <div class="chat-msgs" #scrollMe [scrollWindow]="false" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolledUp)="onScroll()">
      <div *ngFor="let message of conversation" [ngClass]="{'chat-msgs-left': isTrainer(message.chat_message_name)}"  class="chat-message">
        <div *ngIf="isTrainer(message.chat_message_name)" class="chat-msg" [ngStyle]="{'background':'rgba(255, 255, 255, .3)', 'justify-self': 'start'}">
          <div class="chat-grid-you">
            <img  [src]="contacts[0].contact_avatar" alt="">
            <p>{{message.chat_message_body}}</p>
          </div>
          <p class="chat-message-date">{{message.chat_message_time}}</p>
        </div>
        <div *ngIf="!isTrainer(message.chat_message_name)" class="chat-msg">
          <div class="chat-grid-client">
            <p>{{message.chat_message_body}}</p>
            <img  [src]="contacts[1].contact_avatar" alt="">
          </div>
          <p class="chat-message-date">{{message.chat_message_time}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-text-field" >
    <textarea autofocus="true" placeholder="send message" [(ngModel)]="message" (keydown)="handleEnter($event)"></textarea>
  </div>
</div>

<div *ngIf="isHandset" class="handset-chat-container">

  <div class="handset-chat-body">
    <div class="handset-chat-contacts">
        <button mat-button *ngIf="!contacsOpen"  [ngClass]="{'rotate':contacsOpen, 'rotateReverse':!contacsOpen}" (click)="showContacts()" matTooltip="show contacts" matTooltipClass="comment-tooltip"><mat-icon>keyboard_arrow_left</mat-icon></button>
        <button mat-button *ngIf="contacsOpen"  [ngClass]="{'rotate':contacsOpen, 'rotateReverse':!contacsOpen}" (click)="showContacts()" matTooltip="hide contacts" matTooltipClass="comment-tooltip"><mat-icon>keyboard_arrow_left</mat-icon></button>
        <div class="handset-chat-contacts-container"  *ngIf="contacsOpen" >
          <div *ngFor="let contact of contacts"  class="handset-chat-contact" matTooltip="{{contact.contact_name}}, {{contact.contact_status}}" matTooltipClass="comment-tooltip">
            <img [src]="contact.contact_avatar" alt="contact image">
            <p>{{contact.contact_name | shorten:8}}</p>
          </div>
        </div>
    </div>
    <div class="handset-chat-msgs" #scrollMe [scrollWindow]="false" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolledUp)="onScroll()">
      <div *ngFor="let message of conversation" [ngClass]="{'chat-msgs-left': isTrainer(message.chat_message_name)}"  class="chat-message">
        <div *ngIf="isTrainer(message.chat_message_name)" class="chat-msg" [ngStyle]="{'background':'rgba(255, 255, 255, .3)', 'justify-self': 'start'}">
          <div class="chat-grid-you">
            <img  [src]="contacts[0].contact_avatar" alt="">
            <p>{{message.chat_message_body}}</p>
          </div>
          <p class="chat-message-date">{{message.chat_message_time}}</p>
        </div>
        <div *ngIf="!isTrainer(message.chat_message_name)" class="chat-msg">
          <div class="chat-grid-client">
            <p>{{message.chat_message_body}}</p>
            <img  [src]="contacts[1].contact_avatar" alt="">
          </div>
          <p class="chat-message-date">{{message.chat_message_time}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="handset-chat-text-field">
    <textarea autofocus="true" placeholder="send message" [(ngModel)]="message" (keydown)="handleEnter($event)"></textarea>
  </div>

</div>