@import "../../shared/scss-var/colors";

#new-tp-editor {
  p {
    margin: 0;
    margin-bottom: 16px;
    color: $brightRed;
  }
  
  .enabled {
    background-color: $mainGreenLight;
    color: $fontWhiteHighContrast;
  }
  
  .grid-to-right {
    display: grid;
    grid-template-columns: 1fr auto auto;
  }

}
