@import "../shared/scss-var/mixins";
@import "../shared/scss-var/colors";

.tile {
  position: relative;

  h5 {
    @include textLato(700, 18px);
    margin-top: 16px;
    margin-left: 16px;
    color: $fontBlackHighContrast;
    text-align: start;
    text-transform: capitalize;
  }

  button {
    padding: 0;
    margin-top: 12px;
    min-width: 0;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-left: 8px;
  }

  mat-icon {
    min-width: 0;
    width: 24px;
    height: 24px;
  }

  p {
    margin-bottom: 0px;
    @include textLato(400, 14px);
  }

  iframe {
    width: 100%;
  }

  .left-side-color {
    margin-bottom: 4px;
    width: 28px;
    height: 100%;
    position: absolute;
    z-index: 1;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }

  .card-body {
    box-sizing: border-box;
    min-height: 72px;
    background: #8FB4C0;
    padding: 0 16px 12px 28px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12), 0px 0px 4px rgba(0, 0, 0, 0.24);
    margin-bottom: 4px;
    margin-top: 4px;

    .card-header {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr auto;

      p {
        grid-column: 1 / 3;
        margin-top: 7px;
        margin-left: 16px;
        font-size: 12px;
      }

      .button-container-handset {
        display: grid;
        grid-template-columns: auto auto auto auto 1fr;
      }

      .button-container {
        display: grid;
        grid-template-columns: auto auto 1fr;
      }
    }

    .hidden-container {
      overflow: hidden;

      .card-content {
        padding-left: 16px;

        h5 {
          margin: 16px 0 0 0;
        }

        .tile-type-training {

          .tile-activities {
            padding-bottom: 16px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);

            .activity-name {
              @include textLato(700, 14px);
              font-size: 14px !important;
              margin-top: 16px;
            }

            .training-strength {
              margin: 0;
            }

            .activity-content {
              @include textLato(400, 14px);
              font-size: 14px !important;
            }

            .activity-note {
              @include textLato(400, 14px);
              font-style: italic;
              font-size: 14px !important;
            }
          }
        }

        .tile-description {
          margin-bottom: 0px;
          padding-bottom: 16px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.5)
        }

        .tile-tags {
          margin-top: 14px;

          mat-chip {
            color: $fontBlackMediumContrast !important;

            p {
              margin: 0;
              line-height: 32px;
            }
          }
        }
      }
    }
  }

  .card-body-web {
    min-width: 304px;
    max-width: 344px;
  }

  .card-body-tablet {
    min-width: 304px;
    max-width: 344px;
  }

  .card-body-handset {
    min-width: 90vw;
    max-width: 90vw;
  }

}
