@import "./shared/scss-var/colors";
@import "./shared/scss-var/mixins";

.main-html-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $mainGreen;

  mat-toolbar {
    @include boxShadowPreview();
    position: relative;
    z-index: 2;
  }

  mat-toolbar-row {
    max-width: 1344px;
    margin: 0 auto;
  }

  .logo-svg {
    padding-top: 14px;
  }

  .mat-button {
    min-width: 48px;
    min-width: 0px;
    padding: 0;
  }

  mat-sidenav-container,
  mat-sidenav-content {
    position: fixed;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    background: transparent;
  }

  mat-sidenav {
    width: 80%;
    background: $mainGreenLight;
  }


  .yellow-childs span,
  .yellow-childs mat-icon,
  .yellow-childs button .yellow-child,
  #menu-left-container .yellow-childs button .yellow-child {
    color: $brightYellow;
  }

  .profile-picture {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    display: block;
  }

  .menu-right-icon {
    padding: 12px;
    padding-left: 4px;
    color: $fontWhiteHighContrast;
  }

  .menu-right-icon-open {
    padding: 0px;
    color: $fontWhiteHighContrast;
  }

  .example-icon {
    padding: 0 14px;
  }

  .img-logo {
    height: 17px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .upgrade-btn {
    @include textLato(400, 16px);
    padding: 0 8px;
    margin-left: 16px;
    border: $brightYellow 3px solid;
  }

  .setting-btn {
    min-width: 48px;
    margin-left: 2px;
    border-radius: 24px;
    width: 48px;
    height: 48px;

    .zero-not {
      opacity: 0.4;
    }

    .span-invitation {
      margin-right: 24px;
    }

    .button-invitations {
      width: 48px;
      height: 48px;
      border-radius: 24px;

      mat-icon {
        margin: 0;
      }
    }

  }

  .main-html-sidenav-container {
    flex: 1;

    .main-html-grid-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100% - 64px);

      .main-html-sidenav-container-profile {
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        padding: 16px 0 16px 30px;
        border-bottom: 1px solid $WhiteDotTwo;
        margin-bottom: 8px;

        span {
          @include textLato(400, 16px);
          font-style: normal;
          color: $fontWhiteHighContrast;
        }

        img {
          margin-bottom: 16px;
        }
      }

      .main-html-sidenav-container-item {
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        padding-left: 26px;

        span {
          @include textLato(400, 14px);
          padding-left: 24px;
          font-style: normal;
          color: $fontWhiteHighContrast;
        }
      }


      .bottom-btns {
        padding-bottom: 16px;

        .main-html-sidenav-container-item {
          span {
            padding-left: 0;
            height: 48px;
            line-height: 48px;
          }
        }
      }
    }

    .desktop {
      max-width: 1344px;
      margin: 0 auto;
    }

    .menu-container {
      padding: 0;
      height: 100%;
      display: flex;

      .menu-left {
        height: 100%;
        width: 232px;
        background: $mainGreen;
        transition: 100ms;
        border-right: 1px solid $WhiteDotTwo;

        .menu-left-item {
          height: 48px;
          font-size: 16px;
          font-weight: 700;

          span {
            margin-left: 10px;
            font-size: 14px;
            color: $fontWhiteHighContrast;
            margin-right: 12px;
          }

          .left-fake-margin {
            width: 8px;
            height: 24px;
            display: inline-block;
          }
        }

        .profile-container {
          margin-top: 32px;
          margin-bottom: 16px;
          display: flex;
          flex-wrap: wrap;

          span {
            align-self: center;
          }
        }

        .panel-navigations {
          display: grid;
          grid-template-columns: 48px 1fr;
          align-items: center;
          height: 48px;
          color: $fontWhiteHighContrast;
          background-color: $WhiteDotTwo;
          margin-right: 21px;

          mat-icon {
            width: 24px;
            height: 24px;
            justify-self: center;
          }

          span {
            @include textLato(400, 14px);
            padding-left: 10px;
            color: $fontWhiteLowContrast;
          }

          .rotate-icon {
            transform: rotate(180deg);
          }
        }
      }


      .main-content {
        height: calc(100% - 64px);
        flex: 1;
        background: $mainGreen;

        .main-content-outlet {
          height: 100%;
          overflow-y: scroll;
        }
      }


      .menu-right {
        height: 100%;
        width: 365px;
        background: $mainGreen;
        transition: 100ms;
        border-left: 1px solid $WhiteDotTwo;

        .menu-right-control {
          height: 48px;
          margin: 0 10px;
          border-bottom: 1px solid $WhiteDotTwo;
          display: grid;
          grid-template-columns: 1fr 1fr;

          .buttons-right {
            text-align: end;

            button {
              min-width: 48px;
              border-radius: 24px;
            }

            button mat-icon {
              padding: 12px;
            }
          }
        }

        .menu-right-container {
          height: calc(100% - 114px);
          overflow-y: scroll;
        }
      }
    }
  }
}


.main-html-is-mobile {
  .main-html-toolbar-toolbar {
    position: fixed;
    z-index: 2;

    .main-html-sidenav-container {
      flex: 1 0 auto;
    }
  }
}
