@import "../../../shared/scss-var/colors";
@import "../../../shared/scss-var/mixins";

.sum-body {

  margin: 6px 8px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  .sum-day {
    padding: 4px 4px;
    opacity: .6;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.05);

    .sum-day-tile {
      width: 100%;
      height: 24px;
      margin: 2px 0;
      border-radius: 4px;
      background: $mainGreenLightBright;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 16px 1fr;
      max-width: 120px;
      cursor: default;

      .sum-day-tile-color {
        border-radius: 4px 0px 0px 4px;
      }

      .sum-day-tile-title {
        @include textLato(700, 10px);
        color: rgba(0, 0, 0, 0.87);
        line-height: 24px;
        padding-left: 8px;
      }
    }
  }

  .day-opened {
    background: $WhiteDotTwo;
    opacity: 1;
  }

  .day-no {
    background: none;
  }
}

.rectangle {
  position: absolute;
  z-index: 100;

}
