@import "../../shared/scss-var/colors";
@import "../../shared/scss-var/mixins";

h5 {
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  text-align: center;
  background: $mainGreenLight;
  border-radius: 4px 4px 0 0;
}

.div-for-shadow {
  @include boxShadow();
  margin: 0 10px;
  border-radius: 4px;

  .custom-data-creator-header {
    margin: 8px 0 0;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    background: $mainGreenLight;
    border-radius: 4px 4px 0 0;

    .div-to-allign {
      min-width: 96px;
      max-width: 144px;
      justify-self: end;

      .btn-to-dis:disabled {
        opacity: 0.2;
      }
    }

    button {
      padding: 0;
      margin: 0;
      min-width: 0px;
      width: 48px;
      height: 48px;
      border-radius: 24px;
    }

    mat-icon {
      color: $fontWhiteHighContrast;
    }
  }

  .custom-data-creator-input-container {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    margin: 1px 0 0;
    background: $mainGreenLight;
    min-height: 64px;
    grid-gap: 8px;
    padding: 0 8px;

    .select-handset {
      width: 100%;
    }

    .custom-data-creator-description-handset {
      margin-bottom: 16px;
    }

    p {
      @include textLato(300, 12px);
      margin: 0;
      color: $fontWhiteLowContrast;
      margin-bottom: 4px;
      margin-top: 4px;
    }

    input, select {
      @include textLato(400, 14px);
      box-sizing: border-box;
      width: 100%;
      border: none;
      background-color: $WhiteDotTwo;
      color: $fontWhiteHighContrast;
      padding-left: 8px;
      height: 32px;
    }

    .error-msg {
      color: $ErrorYellow;
      padding-left: 16px;
    }

    select {
      margin: 0;
      height: 32px;
      font-size: 14px;
    }
  }

  .custom-data-creator-input-container-handset {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1px 0 0;
    background: $mainGreenLight;
    min-height: 136px;
    grid-gap: 8px;
    padding: 0 8px;

    .select-handset {
      width: 100%;
    }

    .custom-data-creator-description-handset {
      margin-bottom: 16px;
    }

    p {
      @include textLato(300, 12px);
      margin: 0;
      color: $fontWhiteLowContrast;
      margin-bottom: 4px;
      margin-top: 4px;
    }

    input {
      @include textLato(400, 14px);
      box-sizing: border-box;
      width: 100%;
      border: none;
      background-color: $WhiteDotTwo;
      color: $fontWhiteHighContrast;
      padding-left: 8px;
      height: 32px;
    }

    .error-msg {
      color: $ErrorYellow;
      padding-left: 16px;
    }
  }
}

.custom-data {
  padding: 1px 0 0;
  border-radius: 0 0 4px 4px;

  input {
    @include textLato(400, 16px);
    box-sizing: border-box;
    width: 100%;
    border: none;
    color: $fontWhiteHighContrast !important;
    padding-left: 8px;
    height: 32px;
  }


  table,
  mat-form-field,
  mat-paginator {
    background: $mainGreenLight;
    width: 100%;
    box-sizing: border-box;
  }

  mat-form-field {
    margin-bottom: 1px;
    padding: 0 8px;
  }

  th,
  td {
    box-sizing: border-box;
    color: $fontWhiteLowContrast;
    @include textLato(400, 14px);

    .btns {
      width: 72px;
      display: grid;
      grid-template-columns: 36px 36px;

      button {
        min-width: 36px;
        padding: 0px;
        width: 36px;
        height: 36px;
        display: grid;
        align-items: start;
      }

      button mat-icon {
        margin: 6px;
        color: $fontWhiteHighContrast;
      }
    }
  }

  mat-paginator {
    border-radius: 0 0 4px 4px;
  }
}

.chart {
  @include boxShadow();
  background: $mainGreenLight;
  margin: 8px 10px;
  border-radius: 4px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  h5 {
    border-bottom: 1px solid $mainGreen;
    width: 100%;
  }

  .chart-hfive {
    border-bottom: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .chart-parameters,
  .chart-nav {
    min-height: 36px;
    max-height: 36px;
    transition: max-height 0.25s ease-out;
    width: 100%;
  }

  .chart-parameters {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding: 0 8px;
    box-sizing: border-box;
    overflow: hidden;

    .chart-parameter {
      @include textRaleway(400, 12px);
      text-transform: lowercase;
      color: $fontWhiteLowContrast;
      padding-right: 8px;
      margin: 8px 8px 8px 0;
      line-height: 20px;
      border-right: 1px solid $fontWhiteHighContrast;
      cursor: pointer;
    }

    .chart-parameter-selected {
      font-weight: 800;
      color: $fontWhiteHighContrast;
    }
  }

  .chart-parameters:hover {
    max-height: 360px;
    transition: max-height 0.45s ease-in;
  }

  .chart-nav {
    display: grid;
    grid-template-columns: 36px 36px 36px 1fr auto auto auto 1fr 36px 36px 36px;
    align-items: center;
    border-radius: 4px;
    padding: 0 8px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
  
    .chart-nav-btn {
      text-align: center;
      min-width: 36px;
      width: 36px;
      height: 36px;
      padding: 0;
  
      svg {
        padding-bottom: 2px;
      }
    }
  
    .chart-text {
      @include textRaleway(400, 12px);
      text-align: center;
      min-width: 0px;
      padding: 0 16px;
      text-transform: uppercase;
      color: $fontWhiteLowContrast;
    }
  
    .chart-disabled {
      color: $WhiteDotFour;
    }
  
    .chart-text-selected {
      font-weight: 800;
      color: $fontWhiteHighContrast;
    }
  }

}

.chart-container {
  height: 280px;
  width: 100%;
}



