@import "../../../shared/scss-var/colors";

mat-form-field {
    width: 100%;
}

mat-radio-button{
    display: block;
    margin: 16px 0;
}

h4 {
    font-size: 16px;
    font-weight: 400;
}

.divider{
    width: 100%;
    height: 1px;
    background-color: $WhiteDotFour;
    margin-top: 16px;
}