@import "../../shared/scss-var/colors";
@import "../../shared/scss-var/mixins";

.padding {
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  margin-bottom: 24px;
  margin-top: 16px;

  mat-form-field {
    width: 100%;
  }

  table {
    background: $mainGreen;
    width: 100%;

    th,
    td {
      color: $fontWhiteLowContrast;
      @include textLato(400, 14px);
    }

    .table-icon-active {
      color: $fontWhiteHighContrast;
      cursor: default;
    }

    .table-icon-inactive {
      color: rgba(255, 255, 255, 0.27);
      cursor: default;
    }

    .tp {
      padding-left: 36px;
    }
  }


}
