@import "../shared/scss-var/colors";
@import "../shared/scss-var/mixins";

mat-slider {
  width: 100%;
  margin-top: 36px;
}

.divider {
  border-bottom: 1px $WhiteDotFour solid;
  margin-top: 24px;
}

.plan-description {
  @include textLato(400, 16px);
  color: $fontWhiteLowContrast;
  line-height: 24px;

  .plan-description-title {
    font-weight: 800;
  }
}

.no-payment {

  .title {
    margin: 0;
    margin-top: 24px;
    font-size: 24px;
  }

  .slogan {
    @include textLato(400, 12px);
    text-align: center;
    color: $fontWhiteLowContrast;
  }

  .month {
    font-size: 14px;
    font-weight: 400;
    text-transform: lowercase;
  }

  .slider-quote {
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    font-weight: 400;
    text-transform: lowercase;
    display: grid;
    grid-template-columns: 1fr 48px auto 1fr;
    color: $fontWhiteLowContrast;

    mat-icon {
      margin: 6px 12px;
    }

    div {
      line-height: 24px;
      height: 24px;
      margin: 6px 0px;
      width: 100%;
    }
  }

  .pay-buttons {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    margin-bottom: 24px;
    margin-top: 24px;

    button {
      @include textRaleway(800, 16px);
      padding: 16px;
      line-height: 16px;
      color: $fontBlackMediumContrast;
      background-color: $brightYellow;
      border-radius: 24px;
      /* border: $brightYellow 3px solid; */
    }
  }


}

.back {
  color: $fontWhiteLowContrast;
}

app-spinner {
  margin: 36px;
}

.success-div {
  text-align: center;

  .success-icon {
    width: 96px;
    height: 96px;
    font-size: 96px;
    color: $brightYellow;
  }

  .success-title {
    margin-bottom: 24px;
  }

  .btn-upgrade,
  .btn-cancel {
    @include textRaleway(800, 16px);
    padding: 16px;
    line-height: 16px;
    color: $fontBlackMediumContrast;
    border-radius: 24px;
    margin-bottom: 24px;
  }

  .btn-upgrade {
    background-color: $brightGreen;
  }

  .btn-cancel {
    background-color: $brightRed;
  }
}

.upgrade-downgrade {
  .back {
    color: $fontWhiteLowContrast;
  }

  .title {
    margin: 0;
    margin-top: 24px;
    font-size: 24px;
  }

  .slogan-change {
    @include textLato(400, 16px);
    text-align: center;
    color: $fontWhiteLowContrast;
    line-height: auto;
  }

  .slider-quote {
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    font-weight: 400;
    text-transform: lowercase;
    display: grid;
    grid-template-columns: 1fr 48px auto 1fr;
    color: $fontWhiteLowContrast;

    mat-icon {
      margin: 6px 12px;
    }

    div {
      line-height: 24px;
      height: 24px;
      margin: 6px 0px;
      width: 100%;
    }
  }

  .sub-name {
    text-transform: none;
    margin-bottom: 24px;
  }

  .price {
    margin: 0;
    font-size: 44px;

    .dolar {
      font-size: 26px;
    }
  }

  .pay-buttons {
    .changePlan {
      background-color: $brightGreen;
    }
  }
}

.confirmation_change_plan {

  p {
    color: $fontWhiteLowContrast;
  }

  .yellow-conf {
    color: $brightYellow;
  }

  .btn-grid {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr auto;

    .confirm-btn {
      @include textRaleway(800, 16px);
      color: $fontWhiteLowContrast;
      text-transform: uppercase;
      background-color: $WhiteDotTwo;
    }
  }
}
