.tp-name {
  display: grid;
  grid-template-columns: 1fr 144px;
  margin: 0 10px;

  h4 {
    margin: 0px;
    height: 48px;
    line-height: 48px;
  }

  .center-container {
    width: 144px;
    height: 48px;

    button {
      padding: 0;
      min-width: 0;
      width: 48px;
      height: 48px;

      mat-icon {
        color: rgba(255, 255, 255, 0.67)
      }
    }
  }
}

.divider-line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 10px 16px;
}

app-tiles-search {
  width: 100%
}

app-tiles-category {
  width: 100%
}

.message {
  padding-left: 8px;

  .link-to-plan {
    color: #E8A022;
    cursor: pointer;
  }
}

.flex-cont {
  padding-left: 10px;

  .preview {
    height: 48px;
    display: grid;
    grid-template-columns: 24px 1fr;
    background: #8FB4C0;
    min-width: 124px;
    -webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    border-radius: 4px;

    p {
      line-height: 48px;
      height: 48px;
      margin: 0px;
      padding-left: 12px;
      padding-right: 16px;
      font-family: 'Lato';
      font-size: 16px;
    }

    .collor-preview {
      height: 48px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }

  .custom-placeholder {
    box-sizing: border-box;
    background: transparent;
    border: dotted 3px #608490;
    min-height: 72px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .flex-cont-tablet-land {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
  }
}

.flex-cont-tablet {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
}
