@import "../../shared/scss-var/colors";
@import "../../shared/scss-var/mixins";

#new-tile-type {
  display: flex;
  flex-direction: column;

  .material-dialog-content {
    display: flex;
    flex-direction: column;
  }

  h4 {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  p {
    @include textLato(400, 14px);
    color: $fontWhiteLowContrast;
  }
}
