@import "../../shared/scss-var/colors";
@import "../../shared/scss-var/mixins";

.flexbox-pie-chart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .pie {
    background: $mainGreenLight;
    overflow: hidden;
    border-radius: 100%;
    position: relative;

    .pie__segment {
      height: 100%;
      overflow: hidden;
      position: absolute;
      transform-origin: 50% 100%;
      width: 100%;

      .pie__segment__before {
        height: 100%;
        position: absolute;
        transform-origin: 50% 0;
        width: 100%
      }
    }
  }

  .pie-web {
    height: 56px;
    width: 56px;
  }

  .pie-handset {
    height: 36px;
    width: 36px;
  }

  .pie-tablet {
    height: 56px;
    width: 56px;
  }

  .border_day_web {
    border: $mainGreenLightBright solid 8px
  }

  .border_day_handset {
    border: $mainGreenLightBright solid 4px
  }
}
