@import "../../shared/scss-var/colors";
@import "../../shared/scss-var/mixins";

h5 {
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  text-align: center;
  background: $mainGreenLight;
  border-radius: 4px 4px 0 0;
}

.shadow {
  @include boxShadow();
  border-radius: 4px;
}

.athlete-static-data {
  margin: 8px 10px 0;
  display: grid;

  .athlete-data,
  .athlete-fitness-level {
    @include boxShadow();
    border-radius: 4px;
  }

  .athlete-fitness-level {

    .no-left {
      border-radius: 0 0 4px 0;
      border-left: 1px solid $mainGreen;
    }

    .header-fitmess-lvl {

      .no-left-border-radius {
        border-radius: 0 4px 0 0;
      }

      h5 {
        line-height: 48px;
        border-top-right-radius: 4px;
      }

      .btn-cnt {
        background: $mainGreenLight;
        border-top-right-radius: 4px;
      }

      .athlete-fitness-level-filler {
        background: $mainGreenLight;
        border-top-left-radius: 4px;
      }

      button {
        min-width: 48px;
        width: 48px;
        height: 48px;
        border-radius: 24px;
        padding: 0;

        mat-icon {
          color: $fontWhiteHighContrast;
        }
      }

    }


    .athlete-fitness-level-chart {
      margin-top: 1px;
      display: grid;
      grid-template-columns: 1fr 16px 1fr;
      padding: 16px 0;
      background: $mainGreenLight;
      border-radius: 0 0 4px 4px;

      .glow {
        -webkit-box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.45);
        -moz-box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.45);
        box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.45);
      }

      .level-10 {
        background-color: $brightRed;
        height: 24px;
        width: 16px;
      }

      .level-9 {
        background-color: $darherBrightRed;
        height: 24px;
        width: 16px;
      }

      .level-8 {
        background-color: $lighterBrightYellow;
        height: 24px;
        width: 16px;
      }

      .level-7 {
        background-color: $brightYellow;
        height: 24px;
        width: 16px;
      }

      .level-6 {
        background-color: $brightGreen;
        height: 24px;
        width: 16px;
      }

      .level-5 {
        background-color: $darkerBrightGreen;
        height: 24px;
        width: 16px;
      }

      .level-4 {
        background-color: $brightBlue;
        height: 24px;
        width: 16px;
      }

      .level-3 {
        background-color: $darkerBrightBlue;
        height: 24px;
        width: 16px;
      }

      .level-2 {
        background-color: $brightViolet;
        height: 24px;
        width: 16px;
      }

      .level-1 {
        background-color: $darkerBrightViolet;
        height: 24px;
        width: 16px;
      }

      .no-level {
        background-color: $mainGreenLightBright;
        height: 24px;
        width: 16px;
      }

      .no-edit:hover {
        cursor: default;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }

      .no-level:hover,
      .level-1:hover,
      .level-2:hover,
      .level-3:hover,
      .level-4:hover,
      .level-5:hover,
      .level-6:hover,
      .level-7:hover,
      .level-8:hover,
      .level-9:hover,
      .level-10:hover {
        -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.35);
        cursor: pointer;
      }
    }
  }

  .athlete-data {

    .no-border-radius {
      border-radius: 4px 0 0 0;
    }

    .is-handset-no-edit-mode {
      grid-template-columns: 52px 1fr 52px;
    }

    .is-handset-edit-mode {
      grid-template-columns: 104px 1fr;
    }

    .no-handset-edit-mode {
      grid-template-columns: 104px 1fr 104px;
    }

    .no-handset-no-edit-mode {
      grid-template-columns: 52px 1fr 52px;
    }

    .athlete-data-header {
      display: grid;
      background: $mainGreenLight;
      border-radius: 4px 4px 0 0;

      button {
        padding: 0;
        margin: 0;
        min-width: 0px;
        width: 48px;
        height: 48px;
        border-radius: 24px;
      }

      mat-icon {
        color: $fontWhiteHighContrast;
      }
    }

    .no-shadow {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    .no-right {
      border-radius: 0 0 0 4px;
    }

    .athlete-data-card {
      margin-top: 1px;
      height: 272px;
      background: $mainGreenLight;
      border-radius: 0 0 4px 4px;

      .form-container {
        display: grid;
        grid-column-gap: 8px;

        .form-element {
          box-sizing: border-box;
          height: calc(272px / 6);
          padding-top: 8px;

          div {
            @include textLato(400, 14px);
            margin-top: 2px;
            padding-left: 16px;
            color: $fontWhiteHighContrast;
          }
        }

        input {
          @include textLato(400, 14px);
          box-sizing: border-box;
          width: 100%;
          border: none;
          background-color: rgba(255, 255, 255, 0.15);
          color: $fontWhiteHighContrast;
          padding-left: 16px;
        }

        p {
          @include textLato(400, 10px);
          padding-left: 16px;
          margin: 0;
          color: $fontWhiteLowContrast;
        }
      }
    }
  }


}



.div-for-shadow {
  @include boxShadow();
  margin: 0 10px;
  border-radius: 4px;

  .athlete-card-status {

    .athlete-card-status-header {
      margin-bottom: 1px;
    }

    .athlete-card-status-tp {
      background: $mainGreenLight;
      border-radius: 0px;
      margin-bottom: 1px;

      .mobile-grid {
        grid-template-columns: 1fr;
      }

      .grid-tp {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 124px 124px 124px 1fr;

        .mobile-width {
          width: 100%;
          padding: 0 8px;
        }

        .select-tp {
          @include textLato(400, 16px);
          box-sizing: border-box;
          width: 124px;
          height: 36px;
          border: none;
          background-color: rgba(255, 255, 255, 0.15);
          margin: 6px 0;
          color: $fontWhiteHighContrast;
          justify-self: center;

          option {
            @include textLato(400, 16px);
            background-color: $mainGreenLight;
            color: $fontWhiteHighContrast;
            height: 36px;
            border: none;
            padding: 6px;
          }
        }

        .athlete-card-status-tp-btn {
          @include textRaleway(800, 14px);
          width: 94px;
          height: 36px;
          margin: 6px auto;
          text-transform: uppercase;
          color: $fontWhiteHighContrast;
        }

        .select-tp:focus {
          border: none;
        }

      }

      .grid-tp-activated {
        text-align: center;
        display: grid;
        grid-template-columns: 124px 1fr 124px;

        .activated-plan-header {
          @include textRaleway(400, 12px);

          span {
            font-size: 14px;
            color: $brightBlue;
            font-weight: 800;
          }

          .email {
            text-transform: none;
          }

          .pending {
            text-transform: none;
            color: $brightGreen;
          }
        }

        .athlete-card-status-tp-btn-deactivate {
          @include textRaleway(800, 14px);
          min-width: 124px;
          height: 36px;
          margin: 6px auto;
          text-transform: uppercase;
          color: $fontWhiteHighContrast;
        }
      }

    }

    .athlete-card-status-body {

      .athlete-card-status-element-grid,
      .athlete-card-status-element {
        border-radius: 0 0 4px 4px;
      }

      .athlete-card-status-element {
        h5 {
          border-radius: 0 0 4px 4px;
        }

        .orange {
          color: $brightYellow;
        }

        .athlete-card-status-tp-btn-deactivate {
          @include textRaleway(800, 14px);
          min-width: 124px;
          height: 36px;
          margin: 6px auto;
          text-transform: uppercase;
          color: $fontWhiteHighContrast;
        }
      }

      .athlete-card-status-element-grid {
        display: grid;
        grid-template-columns: 124px 1fr 124px;

        .filler-color {
          background: $mainGreenLight;
          border-radius: 0 0 4px 0;

          .athlete-card-status-tp-btn-deactivate {
            @include textRaleway(800, 14px);
            min-width: 124px;
            height: 36px;
            margin: 6px auto;
            text-transform: uppercase;
            color: $fontWhiteHighContrast;
          }
        }

        .grid-left-filler {
          border-radius: 0 0 0 4px;
          background: $mainGreenLight;
        }

        h5 {
          border-radius: 0;
        }
      }
    }

  }
}

.add-margin-10px {
  margin-top: 8px;
}
