/* You can add global styles to this file, and also import other style files */
@import "app/sportapp-custom-theme.scss";
@import "~@angular/cdk/overlay";
@include cdk-overlay();

@import "./app/shared/scss-var/colors";
@import "./app/shared/scss-var/mixins";

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
}

.no-shadow {
  box-shadow: none !important;
}

body,
html {
  height: 100%;
  background: $mainGreenLight;
  font-family: 'Raleway', sans-serif;
  font-family: 'Lato', sans-serif;
}

.formFieldWidth100 .mat-form-field-infix {
  width: 100%;
}

mat-dialog-container {
  background: $mainGreen !important;
}

h5 {
  @include textLato(400, 16px);
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: $fontWhiteHighContrast;
}

h4 {
  @include textRaleway(800, 16px);
  text-transform: uppercase;
  text-align: center;
  color: $fontWhiteHighContrast;
}

.mat-select-panel {
  @include textRaleway(800, 14px);
  background: $mainGreenLightBright;
  color: $fontBlackLowContrast;
}

.mat-standard-chip {
  @include textRaleway(800, 14px);
  color: $fontWhiteLowContrast !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $mainGreen;
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background: $ScrollGreenBright;
  @include boxShadowScroll();
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $ScrollGreen;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $ScrollGreenDark;
  @include boxShadowScroll();
}


//SNACK BARS

.mat-snack-bar-container {
  background: $mainGreenDark;
}

.mat-simple-snackbar span {
  @include textLato(400, 14px);
}

.mat-simple-snackbar-action .mat-button-wrapper {
  @include textRaleway(800, 16px);
  color: $brightBlue;
}

#tile-editor-form {
  .add-button {
    @include textRaleway(800, 14px);
    min-width: 0;
    padding: 8px 14px 8px 8px;
    background: $WhiteDotTwo;
    border-radius: 26px;
    color: $fontWhiteHighContrast;
    margin-bottom: 48px;
  }

  .add-button-nutrient {
    @include textRaleway(800, 14px);
    min-width: 0;
    padding: 8px 14px 8px 8px;
    background: $WhiteDotTwo;
    border-radius: 26px;
    color: $fontWhiteHighContrast;
    margin-bottom: 16px;
    margin-top: 16px;
  }
}

#tile-editor-form .mat-icon {
  color: $fontWhiteHighContrast;
}

#tile-editor-form .mat-form-field-flex {
  background-color: rgba(96, 132, 144, 0.2);
}

#tile-editor-form .mat-form-field-empty .mat-form-field-label {
  color: $fontWhiteLowContrast;
}

#tile-editor-form .mat-select-value-text {
  @include textLato(400, 16px);
  line-height: 16px;
  color: $fontWhiteLowContrast;
}

#tile-editor-form .mat-form-field-empty .ng-star-inserted {
  @include textLato(400, 14px);
  color: $WhiteDotFour;
}

#tile-editor-form .mat-input-element {
  color: $fontWhiteHighContrast;
}

#tile-editor-form .mat-select-arrow {
  color: $fontWhiteLowContrast;
}

#tile-editor-form .mat-form-field-underline::before {
  background-color: $fontWhiteLowContrast;
}

#tile-editor-form input:-webkit-autofill {
  @include inputAutofillLight();
}

#tile-editor-form .mat-input-element {
  @include textLato(400, 16px);
  line-height: 16px;
  color: $fontWhiteLowContrast;
}

//training
#tile-editor-form .training .mat-form-field-should-float .mat-form-field-label {
  @include textLato(400, 14px);
  color: $brightRed;
}

#tile-editor-form .training .mat-form-field-ripple {
  background-color: $brightRed;
}

//diet
#tile-editor-form .diet .mat-form-field-should-float .mat-form-field-label {
  @include textLato(400, 14px);
  color: $brightGreen;
}

#tile-editor-form .diet .mat-form-field-ripple {
  background-color: $brightGreen;
}

//motivation
#tile-editor-form .motivation .mat-form-field-should-float .mat-form-field-label {
  @include textLato(400, 14px);
  color: $brightBlue;
}

#tile-editor-form .motivation .mat-form-field-ripple {
  background-color: $brightBlue;
}

//question
#tile-editor-form .question .mat-form-field-should-float .mat-form-field-label {
  @include textLato(400, 14px);
  color: $brightYellow;
}

#tile-editor-form .question .mat-form-field-ripple {
  background-color: $brightYellow;
}

//form

#tile-editor-form .medium-button {
  margin-top: 3.5px;
  margin-bottom: 13.5px;
  background-color: $mainGreenLight;
}

#tile-editor-form .add {
  background-color: $mainGreenLight;
  margin-right: 16px;
}

#tile-editor-form .new {
  background-color: $mainGreenLight;
  margin-right: 16px;
}

#tile-editor-form .cancel {
  background-color: $mainGreenLight;
}

#tile-editor-form .medium-button span {
  @include textRaleway(800, 14px);
  line-height: 14px;
  color: $fontWhiteLowContrast;
}

#tile-editor-form .mat-radio-button {
  @include textLato(400, 16px);
  margin: 8px 0 16px;
  line-height: 16px;
  color: $fontWhiteLowContrast;
}

#tile-editor-form .mat-radio-button .mat-radio-outer-circle {
  border-color: $fontWhiteLowContrast;
}

#tile-editor-form .mat-radio-checked .mat-radio-outer-circle {
  border-color: $brightYellow;
}

#tile-editor-form .mat-radio-checked .mat-radio-inner-circle {
  background-color: $brightYellow;
}




#new-tile-type .mat-form-field-underline::before {
  background-color: $fontWhiteLowContrast;
}

#new-tile-type input:-webkit-autofill {
  @include inputAutofillLight();
}

#new-tile-type .mat-input-element {
  @include textLato(400, 16px);
  line-height: 16px;
  color: $fontWhiteLowContrast;
}

#new-tile-type .mat-form-field-flex {
  background-color: rgba(96, 132, 144, 0.2);
}

#new-tile-type .mat-form-field-empty .mat-form-field-label {
  color: $fontWhiteLowContrast;
}

#new-tile-type .mat-select-value-text {
  @include textLato(400, 16px);
  line-height: 16px;
  color: $fontWhiteLowContrast;
}

#new-tile-type .ng-star-inserted {
  @include textLato(400, 14px);
  color: $fontWhiteLowContrast;
}

#new-tile-type .mat-select-arrow {
  color: $fontWhiteLowContrast;
}

#new-tile-type .mat-form-field-ripple {
  background-color: $fontWhiteLowContrast;
}

#new-tile-type .mat-button {
  background-color: $mainGreenLight;
}

#new-tile-type .mat-button span {
  @include textRaleway(800, 14px);
  text-transform: uppercase;
  line-height: 14px;
  color: $fontWhiteLowContrast;
}

#new-tile-type .disabled {
  background-color: $mainGreenLight;
}

#new-tile-type .disabled span {
  color: $WhiteDotTwo;
}



//searching tiles styling
#searchby .mat-chip-list-wrapper {
  margin: 0px !important;
}

#searchby .mat-button {
  min-width: 0px;
  border-radius: 24px;
  width: 48px;
  height: 48px;
  padding: 0px;
  margin-left: 8px;
}

#searchbyword mat-form-field {
  width: 100%;
  padding: 16px 10px 0px;
}

#searchbyword .mat-form-field-ripple {
  background-color: $fontWhiteLowContrast;
}

#searchbyword .mat-form-field-underline::before {
  background-color: $fontWhiteLowContrast;
}

#searchbyword .mat-form-field-label {
  @include textLato(400, 16px);
  line-height: 16px;
  color: $fontWhiteLowContrast;
}

#searchbyword input:-webkit-autofill {
  @include inputAutofillLight();
}

#searchbyword .mat-input-element {
  @include textLato(400, 16px);
  line-height: 16px;
  color: $fontWhiteLowContrast;
}


//styling main menu
#menu-left-container .mat-button-wrapper span {
  @include textLato(400, 14px);
  color: $fontWhiteLowContrast;
}

#menu-left-container .mat-button {
  min-width: 0px;
  width: 100%;
  text-align: left
}

//styling verify delete dialog

#delete-dialog-tile {
  #verify-buttons {
    display: grid;
    grid-template-columns: 1fr auto auto;

    button {
      @include textRaleway(800, 14px);
      color: $fontWhiteBright;
      text-transform: uppercase;
    }

    button:disabled {
      opacity: 0.4;
    }
  }
}

#delete-dialog-allday {
  #verify-buttons {
    display: grid;
    grid-template-columns: 1fr auto auto;

    button {
      @include textRaleway(800, 14px);
      color: $fontWhiteBright;
      text-transform: uppercase;
    }

    button:disabled {
      opacity: 0.4;
    }
  }
}

//styling note creator

#note-creator {
  .mat-dialog-actions {
    display: grid;
    grid-template-columns: 1fr auto auto;

    button {
      @include textRaleway(800, 14px);
      color: $fontWhiteBright;
      text-transform: uppercase;
    }

    button:disabled {
      opacity: 0.4;
    }
  }
}

//styling repeat dialog

#light-dialog {
  h4 {
    color: $fontWhiteLowContrast;
    font-weight: 400;
    margin: 0 0 16px;
  }

  .mat-dialog-content {
    min-height: 224px;
  }

  .mat-radio-button {
    margin: 8px 0;
  }

  .mat-radio-label-content {
    @include textLato(400, 16px);
    margin-left: 8px;
    color: $fontWhiteLowContrast;
  }

  .mat-radio-outer-circle {
    border-color: $fontWhiteLowContrast;
  }

  .mat-form-field {
    margin: 16px 0 0;
    width: 100%;
  }

  input:-webkit-autofill {
    @include inputAutofill();
  }

  .mat-form-field-label {
    @include textLato(400, 16px);
    line-height: 16px;
    color: $fontWhiteLowContrast;
  }

  .mat-input-element,
  .ng-star-inserted {
    @include textLato(400, 16px);
    line-height: 16px;
    color: $fontWhiteLowContrast;
  }

  .mat-form-field-underline::before {
    background-color: $fontWhiteLowContrast;
  }

  .mat-form-field-ripple {
    background-color: $fontWhiteLowContrast;
  }

  .mat-dialog-actions {
    display: grid;
    grid-template-columns: 1fr auto auto;

    button {
      @include textRaleway(800, 14px);
      color: $fontWhiteBright;
      text-transform: uppercase;
    }

    button:disabled {
      opacity: 0.4;
    }
  }
}

//styling new tp creator

#tp-editor,
#creator {


  .yellow {
    color: $brightYellow;
  }

  .to-lower-case {
    text-transform: initial
  }

  #new-tp-editor {
    .grid-to-right {
      button {
        @include textRaleway(800, 14px);
        color: $fontWhiteBright;
        text-transform: uppercase;
      }

      button:disabled {
        opacity: 0.4;
      }
    }

    h4 {
      font-weight: 400;
      margin: 0 0 16px;
    }

    mat-form-field {
      width: 100%;
      min-width: 50px;
    }

    input:-webkit-autofill {
      -webkit-text-fill-color: $fontWhiteHighContrast;
      -webkit-box-shadow: 0 0 0 100px #32545f inset;
      box-shadow: 0 0 0 100px #32545f inset;
    }

    .mat-form-field-label {
      @include textLato(400, 16px);
      line-height: 16px;
      color: $fontWhiteLowContrast;
    }

    .mat-input-element,
    .ng-star-inserted {
      @include textLato(400, 16px);
      line-height: 16px;
      color: $fontWhiteLowContrast;
    }

    .mat-form-field-underline::before {
      background-color: $fontWhiteLowContrast;
    }

    .ng-invalid .ng-touched {
      .mat-form-field-ripple {
        background-color: $brightRed
      }
    }

    .mat-form-field-ripple {
      background-color: $fontWhiteLowContrast;
    }

    .message_email {
      line-height: 20px;
    }
  }
}

.mat-menu-content button {
  @include textRaleway(400, 14px);
  line-height: 14px;
}

.mat-menu-panel {
  background-color: $mainGreenLightBright;
  max-width: none !important;
}

.mat-badge-warn .mat-badge-content {
  background: $brightYellow;
}

//styling note creator

#note-creator h4 {
  font-weight: 400;
  margin: 0;
  margin-bottom: 16px;
}

#note-creator mat-form-field {
  width: 100%;
}

#note-creator input:-webkit-autofill {
  -webkit-text-fill-color: $fontWhiteHighContrast;
  -webkit-box-shadow: 0 0 0 100px #32545f inset;
  box-shadow: 0 0 0 100px #32545f inset;
}

#note-creator .mat-form-field-label {
  @include textLato(400, 16px);
  line-height: 16px;
  color: $fontWhiteLowContrast;
}

#note-creator .mat-input-element,
#note-creator .ng-star-inserted {
  @include textLato(400, 16px);
  line-height: 16px;
  color: $fontWhiteLowContrast;
}

#note-creator .mat-form-field-underline::before {
  background-color: $fontWhiteLowContrast;
}

#note-creator .mat-form-field-ripple {
  background-color: $fontWhiteLowContrast;
}

#note-dialog {
  background-color: $mainGreenLightBright !important;
}

#note-dialog .mat-dialog-title {
  margin: 0;
}

// styling charts

#chart .mat-chip-list-wrapper {
  margin: 0;
  padding: 6px;
}

.ng-tns-c10-3 {
  color: $fontWhiteHighContrast;
  @include textLato(400, 14px);
}

.mat-select-trigger .mat-select-arrow {
  color: $fontWhiteHighContrast;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: $WhiteDotThree;
}

td.mat-cell,
th.mat-header-cell {
  border-bottom-color: $WhiteDotThree;
}

.comment-tooltip {
  @include boxShadowTooltip();
  background: $mainGreenLight;
  color: $fontWhiteHighContrast;
  @include textLato(400, 14px);
}

.mat-elevation-z8 {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.mat-form-field-label-wrapper label {
  color: $WhiteDotFour !important;
  @include textLato(400, 14px);
}

.mat-checkbox-frame {
  border-bottom-color: $fontWhiteLowContrast;
  border-top-color: $fontWhiteLowContrast;
  border-left-color: $fontWhiteLowContrast;
  border-right-color: $fontWhiteLowContrast;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $fontWhiteLowContrast;
}

.mat-select-value {
  color: $fontWhiteLowContrast;
}

.mat-icon-button[disabled][disabled] {
  color: $WhiteDotThree;
}

.mat-paginator {
  color: $fontWhiteLowContrast;
}

.mat-sort-header-arrow {
  color: $fontWhiteLowContrast;
}


// styling add star

#star {
  .mat-radio-outer-circle {
    border-color: $fontWhiteLowContrast;
  }

  .mat-radio-label-content {
    color: $fontWhiteLowContrast;
  }

  .mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: $fontWhiteLowContrast;
  }

  .mat-radio-button {
    @include textLato(400, 16px);
  }

  .mat-button.mat-primary,
  .mat-icon-button.mat-primary,
  .mat-stroked-button.mat-primary {
    @include textRaleway(800, 14px);
    color: $fontWhiteBright;
  }

  .mat-radio-label-content {
    padding-left: 16px !important;
  }

  textarea {
    color: $fontWhiteHighContrast;
  }

  .mat-button.mat-primary[disabled],
  .mat-button.mat-accent[disabled],
  .mat-button.mat-warn[disabled],
  .mat-button[disabled][disabled],
  .mat-icon-button.mat-primary[disabled],
  .mat-icon-button.mat-accent[disabled],
  .mat-icon-button.mat-warn[disabled],
  .mat-icon-button[disabled][disabled],
  .mat-stroked-button.mat-primary[disabled],
  .mat-stroked-button.mat-accent[disabled],
  .mat-stroked-button.mat-warn[disabled],
  .mat-stroked-button[disabled][disabled] {
    background-color: transparent;
    color: $WhiteDotThree;
  }

  .mat-dialog-actions {
    display: grid;
    grid-template-columns: 1fr auto auto auto;

    button {
      @include textRaleway(800, 14px);
      color: $fontWhiteBright;
      text-transform: uppercase;
    }

    button:disabled {
      opacity: 0.4;
    }
  }
}


#verify-buttons {
  margin-top: 24px;
}

#verify-buttons button {
  color: $fontWhiteLowContrast
}

//styling add tiles in handset mode

#add-tile-handset {
  padding: 8px;

  .mat-dialog-content {
    padding: 0;
    margin: 0;

    .card-body-handset {
      min-width: 0px;
    }
  }

  .mat-dialog-actions {
    margin-bottom: 0px;

    button {
      @include textRaleway(800, 16px);
      color: $fontWhiteLowContrast;
      text-transform: uppercase;
    }
  }

  mat-form-field {
    box-sizing: border-box;
  }

  .mat-dialog-title {
    display: grid;
    grid-template-columns: 1fr 36px 36px;
    grid-gap: 8px;

    h5 {
      color: $fontWhiteLowContrast;
      @include textLato(400, 16px);
    }

    button {
      min-width: 36px;
      padding: 0;

      mat-icon {
        color: $fontWhiteLowContrast;
      }
    }
  }

  .mat-chip-list {
    padding: 0;
  }

}

.mat-snack-bar-handset .mat-snack-bar-container {
  margin: 8px 8px 104px !important;
}


//styling payment
#payment {


  .mat-slider-track-background {
    background-color: $fontWhiteLowContrast;
  }

  .mat-slider-horizontal .mat-slider-wrapper {
    height: 6px;
  }

  .mat-slider-horizontal .mat-slider-track-wrapper {
    height: 6px;
  }

  .mat-slider-horizontal .mat-slider-track-background {
    height: 6px;
  }

  .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb,
  .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label {
    background-color: $WhiteDotOne;
  }

  .mat-slider-horizontal .mat-slider-ticks-container {
    height: 6px;
  }

  .mat-slider-horizontal .mat-slider-ticks {
    height: 6px;
  }

  .mat-slider-horizontal .mat-slider-track-fill {
    height: 6px;
  }

  .mat-slider-thumb {
    width: 36px;
    height: 36px;
    bottom: -18px;
  }

  .mat-accent .mat-slider-track-fill,
  .mat-accent .mat-slider-thumb,
  .mat-accent .mat-slider-thumb-label {
    background-color: $brightYellow;
  }

  .upgrade-downgrade .mat-accent .mat-slider-track-fill,
  .upgrade-downgrade .mat-accent .mat-slider-thumb,
  .upgrade-downgrade .mat-accent .mat-slider-thumb-label {
    background-color: $brightGreen;
  }
}

/* close dialog style */

.close-btn-container {
  text-align: right;
  height: 48px;
  margin-bottom: 16px;

  #close-btn {
    margin: 0;
    height: 48px;
    width: 48px;
    min-width: 0;
    border-radius: 24px;
    padding: 0;
  }
}


// naprawiany css

.mat-chip .mat-standard-chip {
  background-color: rgba(96, 132, 144, .3) !important;
}

.mat-fab.mat-accent,
.mat-flat-button.mat-accent,
.mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent {
  background-color: #052e39;
}

#card-payment {
  mat-form-field {
    width: 100%;
    min-width: 50px;
  }

  input:-webkit-autofill {
    @include inputAutofill();
  }

  .mat-form-field-label {
    @include textLato(400, 16px);
    line-height: 16px;
    color: $fontWhiteLowContrast;
  }

  .mat-input-element,
  .ng-star-inserted {
    @include textLato(400, 16px);
    line-height: 16px;
    color: $fontWhiteLowContrast;
  }

  .mat-form-field-underline::before {
    background-color: $fontWhiteLowContrast;
  }

  .ng-invalid .ng-touched {
    .mat-form-field-ripple {
      background-color: $brightRed;
    }
  }

  .mat-form-field-ripple {
    background-color: $fontWhiteLowContrast;
  }

  .message_email {
    line-height: 20px;
  }
}

@media (max-width: 599px) {
  ::-webkit-scrollbar {
    width: 0;
  }

  .chat-container ::-webkit-scrollbar {
    width: 0;
  }

  .main-content-outlet {
    height: none;
  }
}
