@import "../shared/scss-var/colors";
@import "../shared/scss-var/mixins";

#tile-editor-form {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;

  h4 {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  h5 {
    text-transform: lowercase;
    margin-top: 10.5px;
    margin-bottom: 16px;
  }

  h6 {
    @include textLato(400, 12px);
    margin: 0 0 8px;
    color: $ErrorYellow;
  }

  mat-chip-list {
    mat-chip {
      .training-type-icon {
        box-sizing: border-box;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        margin-right: 8px;
      }
    }
  }



  /* styling training type chips */
  .chips-type {
    padding-left: 4px;
    background: $mainGreen;

    mat-icon {
      margin-right: 8px;
      color: $fontWhiteLowContrast;
    }
  }

  .divider-line {
    border-bottom: 1px solid $WhiteDotTwo;
  }

  .activity-container {
    @include boxShadowEditor();
    background-color: $BlackBg;
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 24px;

    .header-delete {
      display: grid;
      grid-template-columns: 1fr 48px 48px;
      margin: 4px 0;

      .delete-button {
        min-width: 0px;
        padding: 0;
        width: 48px;
        height: 48px;
        border-radius: 24px;
      }

      .delete-button:hover {
        background-color: $BlackBgLight
      }
    }

    //training

    .activity-open-container {
      overflow: hidden;
      transition: all 0.6s ease-in-out;
      max-height: 0px;
    }

    .open {
      max-height: 1800px;
    }

    .close {
      max-height: 0px;
    }


    .add-btn-container {
      text-align: center;

      .add-button {
        mat-icon {
          margin: 0 6px;
          color: $fontWhiteHighContrast;
        }
      }
    }

    .short-inputs {
      display: flex;

      mat-form-field {
        flex: 1;
      }

      .short-input-left {
        margin-right: 16px;
      }

      .short-input-right {
        margin-left: 16px;
      }
    }

    // diet

    .diet-open-container {
      overflow: hidden;
      transition: all 0.6s ease-in-out;
      max-height: 0px;
    }

    .open {
      max-height: 1800px;
    }

    .close {
      max-height: 0px;
    }

    .nutrient-background-color {
      background: $BlackBg;
      padding: 8px;
      border-radius: 4px;
      margin-bottom: 16px;

      .header-delete-nutrient {
        display: grid;
        grid-template-columns: 48px 1fr 48px;
        margin: 4px 0;

        .delete-button {
          min-width: 0px;
          padding: 0;
          width: 48px;
          height: 48px;
          border-radius: 24px;
        }

        .delete-button:hover {
          background-color: $BlackBgLight
        }
      }
    }

    // Tags


    .buttons-finish {
      .add:disabled {
        opacity: 0.2;
      }
    }
  }

  .mat-chip-list {
    margin-bottom: 16px;
  }

  mat-form-field {
    width: 100%;
  }

  //animation

  .rotate {
    animation-name: rotateBtn;
    animation-duration: 0.5s;
    transform: rotate(180deg);
  }

  .rotateReverse {
    animation-name: rotateReverseBtn;
    animation-duration: 0.5s;
    transform: rotate(0deg);
  }

  @keyframes rotateBtn {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(180deg);
    }
  }

  @keyframes rotateReverseBtn {
    0% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }
}
