/* styling training type chips */
@import "../../shared/scss-var/colors";


#searchby {
  .mat-chip-list {
    padding: 0 10px;

    .chips-type {
      padding-left: 4px;
      background: $mainGreen;

      .training-type-icon {
        box-sizing: border-box;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        margin-right: 8px;
      }
    }
  }

  h4 {
    margin: 0px;
    height: 48px;
    line-height: 48px;

    mat-icon {
      margin-right: 8px;
      color: $fontWhiteLowContrast;
    }
  }

}
